{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Builder Project</title>
    <link rel="icon"href="{% static 'favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
</head>
<body>
<section class="header">

    <div class="container-fluid header-top bg-gradient1">
        <div class="container">
            <div class="row p-2 justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 justify-content-center justify-content-lg-start ml7">
                    <span class="text-wrapper"><span class="letters">the art of living..</span></span></div>
                <div class="col-12 col-lg-3 d-none d-md-block contact-default">
                    <p>
                        <span>+88 018522330000</span>
                        <span>+88 018522330000</span>
                    </p>
                </div>
                <div class="col-12 col-lg-5 justify-content-center justify-content-lg-end header-social-icon">
                    <p>FOLLOW US : </p>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-youtube-square"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>

                </div>
            </div>
        </div>
    </div>
    <div id="navbar_top" class="container-fluid bg-white">
        <div id="" class="container header-bottom bg-white">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" style="height: auto; width: 140px; padding-left: 8px;"
                     src="{% static 'img/logo.png' %}" alt="">
            </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            {% block messages %}
                        {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-{% firstof message.tags 'info' %}">
                            <button class="close" data-dismiss="alert">×</button>
                            {{ message }}
                          </div>
                        {% endfor %}
                    {% endif %}
                    {% endblock messages %}
            <div class="collapse navbar-collapse header-menu-flex-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                  <li class="nav-item dropdown ">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'ongoing' %}">Ongoing</a></li>
                            <li><a class="dropdown-item" href="{% url 'upcoming' %}">Upcoming</a></li>
                            <li><a class="dropdown-item" href="{% url 'completed' %}">Completed</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'testimonial' %}">Testimonials</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    </div>


</section>

<script>
    // Wrap every letter in a span
    var textWrapper = document.querySelector('.ml7 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
        .add({
            targets: '.ml7 .letter',
            translateY: ["1.1em", 0],
            translateX: ["0.55em", 0],
            translateZ: 0,
            rotateZ: [180, 0],
            duration: 750,
            easing: "easeOutExpo",
            delay: (el, i) => 50 * i
        }).add({
        targets: '.ml7',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
    });

    document.addEventListener("DOMContentLoaded", function(){
  window.addEventListener('scroll', function() {
      if (window.scrollY > 50) {
        document.getElementById('navbar_top').classList.add('fixed-top');
        // add padding top to show content behind navbar
        navbar_height = document.querySelector('.navbar').offsetHeight;
        document.body.style.paddingTop = navbar_height + 'px';
      } else {
        document.getElementById('navbar_top').classList.remove('fixed-top');
         // remove padding top from body
        document.body.style.paddingTop = '0';
      }
  });
});


</script>