{% include 'includes/header.html' %}
{% load static %}

<section class="header-title" style="background:url('{% static 'img/aboutusimage.jpg' %}')">
    <div class="container-fluid aboutus-header-title">
        <div class="container">
              <h4 class="text-white">About Us</h4>
        </div>


    </div>
</section>


<section class="about-us-content-section p-5">

    <div class="container">
            <div class="row justify-content-center">
                 <div class="col-12 col-md-6 d-flex flex-column justify-content-center pt-2">
                     <h2>Why you will choose us?</h2>
                    <h4 class="about-us-content-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                    </h4>
                </div>
                <div class="col-12 col-md-6 pt-2" style="background:url('')">
                    <img class="img-fluid shadow" src="{% static 'img/aboutusimg.jpg' %}" alt="">

                </div>
            </div>
    </div>

</section>






<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->


<!-- Script -->
{% include 'includes/footer.html' %}