{% include 'includes/header.html' %}
{% load static %}
<section class="slider-section">

    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slider-background"
                 style="background: url('{% static 'img/slider1.jpg' %}'); padding: 10px;"></div>
            <div class="swiper-slide slider-background"
                 style="background: url('{% static 'img/slider2.jpg' %}'); padding: 10px;"></div>
            <div class="swiper-slide slider-background"
                 style="background: url('{% static 'img/slider1.jpg' %}'); padding: 10px;"></div>
            <div class="swiper-slide slider-background"
                 style="background: url('{% static 'img/slider2.jpg' %}'); padding: 10px;"></div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>


</section>

<section class=" ongoing-project-section pt-5">
    <div class="container">
        <div class="row justify-content-center"
        ">
        <h3 class="" style="text-align: center; padding-bottom: 13px">
            <samp style="border-bottom: solid">Ongoing Project</samp>
        </h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <a href="#" class="btn btn-primary ">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<section class=" ongoing-project-section pt-5" style="background: url('{% static 'img/bg.jpg' %}')">
    <div class="container">
         <div class="row justify-content-center">
        <h3 class="" style="text-align: center; padding-bottom: 13px">
            <samp style="border-bottom: solid">Ongoing Project</samp>
        </h3>
    </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a href="#" class="btn btn-primary ">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class=" ongoing-project-section pt-5">
    <div class="container">
         <div class="row justify-content-center">
        <h3 class="" style="text-align: center; padding-bottom: 13px">
            <samp style="border-bottom: solid">Ongoing Project</samp>
        </h3>
    </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a href="#" class="btn btn-primary ">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,

        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>


<!-- Script -->
</body>
</html>