{% include 'includes/header.html' %}
{% load static %}
<section class="slider-section">

   <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider-background" style="background: url('{% static 'img/slider1.jpg' %}'); padding: 10px;"></div>
        <div class="swiper-slide slider-background" style="background: url('{% static 'img/slider2.jpg' %}'); padding: 10px;"></div>
        <div class="swiper-slide slider-background" style="background: url('{% static 'img/slider1.jpg' %}'); padding: 10px;"></div>
        <div class="swiper-slide slider-background" style="background: url('{% static 'img/slider2.jpg' %}'); padding: 10px;"></div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>



</section>

<section class=" ongoing-project-section">
    <div class="container">
        <div class="row">
            
        </div>
    </div>

</section>

<!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
  <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,

        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>


<!-- Script -->
</body>
</html>