{% include 'includes/header.html' %}
{% load static %}
<section class="slider-section">

    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slider-background"
                 style="background: url('{% static 'img/slider1.jpg' %}'); padding: 10px;"></div>
            <div class="swiper-slide slider-background"
                 style="background: url('{% static 'img/slider2.jpg' %}'); padding: 10px;"></div>
            <div class="swiper-slide slider-background"
                 style="background: url('{% static 'img/slider1.jpg' %}'); padding: 10px;"></div>
            <div class="swiper-slide slider-background"
                 style="background: url('{% static 'img/slider2.jpg' %}'); padding: 10px;"></div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>


</section>

<section class=" ongoing-project-section pt-5">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h3 class="" style="text-align: center; padding-bottom: 13px">
                    <samp class="pb-2" style="border-bottom: solid">Upcoming Projects</samp>
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                 <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>

                  <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <p class="text-center p-3"><a class="" href="">View More</a></p>

        </div>
    </div>

</section>

<section class=" ongoing-project-section pt-5">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h3 class="" style="text-align: center; padding-bottom: 13px">
                    <samp class="pb-2" style="border-bottom: solid">Ongoing Projects</samp>
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                 <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>


            </div>

              <p class="text-center p-3"><a class="" href="">View More</a></p>

        </div>
    </div>

</section>

<section class=" ongoing-project-section pt-5">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h3 class="" style="text-align: center; padding-bottom: 13px">
                    <samp class="pb-2" style="border-bottom: solid">Past Projects</samp>
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                 <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>


            </div>

              <p class="text-center p-3"><a class="" href="">View More</a></p>

        </div>
    </div>

</section>

<section class="testimonial-section2">
 <div class="row text-center">
           <div class="col-12">
              <div class="h2">Testimonial</div>
           </div>
        </div>
       <div id="testim" class="testim">

<!--         <div class="testim-cover"> -->
            <div class="wrap">

                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">
                    <div class="active">
                        <div class="img"><img src="{%static 'img/img_avatar.png'%}" alt=""></div>
                        <div class="h4">Kellie</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>

                    <div>
                        <div class="img"><img src="{%static 'img/img_avatar.png'%}" alt=""></div>
                        <div class="h4">Jessica</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>

                    <div>
                        <div class="img"><img src="{%static 'img/img_avatar.png'%}" alt=""></div>
                         <div class="h4">Kellie</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>

                    <div>
                        <div class="img"><img src="{%static 'img/img_avatar.png'%}" alt=""></div>
                        <div class="h4">Jessica</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>

                    <div>
                        <div class="img"><img src="{%static 'img/img_avatar.png'%}" alt=""></div>
                        <div class="h4">Kellie</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>

                </div>
                 </div>
            </div>
<!--         </div> -->
    </section>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,

        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

</script>


<!-- Script -->
{% include 'includes/footer.html' %}