{% include 'includes/header.html' %}
{% load static %}

<section class="header-title" style="background:url('{% static 'img/aboutusimage.jpg' %}')">
    <div class="container-fluid aboutus-header-title">
        <div class="container">
              <h4 class="text-white">Testimonial</h4>
        </div>


    </div>
</section>


<section class="about-us-content-section p-5 m-3">

    <div class="container mt-5">
            <div class="row justify-content-center" style="align-items: center;">

                <div class="col-12 col-md-3 pt-2 testimonial-main-img" style="display:flex; justify-content: center;" >
                    <div class="testimonial-image" style="background: url({% static 'img/aboutusimg.jpg' %});background-size: cover; background-repeat: no-repeat;">

                    </div>
                </div>
                 <div class="col-12 col-md-8 d-flex flex-column justify-content-center pt-2 testimonial-details">

                    <h4 class="about-us-content-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                    </h4>
                </div>

            </div>
    </div>

     <div class="container mt-5">
            <div class="row justify-content-center" style="align-items: center;">

                <div class="col-12 col-md-3 pt-2 testimonial-main-img" style="display:flex; justify-content: center;" >
                    <div class="testimonial-image" style="background: url({% static 'img/aboutusimg.jpg' %});background-size: cover; background-repeat: no-repeat;">

                    </div>
                </div>
                 <div class="col-12 col-md-8 d-flex flex-column justify-content-center pt-2 testimonial-details">

                    <h4 class="about-us-content-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                    </h4>
                </div>

            </div>
    </div>

     <div class="container mt-5">
            <div class="row justify-content-center" style="align-items: center;">

                <div class="col-12 col-md-3 pt-2 testimonial-main-img" style="display:flex; justify-content: center;" >
                    <div class="testimonial-image" style="background: url({% static 'img/aboutusimg.jpg' %});background-size: cover; background-repeat: no-repeat;">

                    </div>
                </div>
                 <div class="col-12 col-md-8 d-flex flex-column justify-content-center pt-2 testimonial-details">

                    <h4 class="about-us-content-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                    </h4>
                </div>

            </div>
    </div>

         <div class="container mt-5">
            <div class="row justify-content-center" style="align-items: center;">

                <div class="col-12 col-md-3 pt-2 testimonial-main-img" style="display:flex; justify-content: center;" >
                    <div class="testimonial-image" style="background: url({% static 'img/aboutusimg.jpg' %});background-size: cover; background-repeat: no-repeat;">

                    </div>
                </div>
                 <div class="col-12 col-md-8 d-flex flex-column justify-content-center pt-2 testimonial-details">

                    <h4 class="about-us-content-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste natus quasi reprehenderit sunt.
                        A consequatur corporis doloribus est eum eveniet, iure, magni maxime minus nulla quis, ut voluptatibus.
                        Possimus!
                    </h4>
                </div>

            </div>
    </div>








</section>






<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->


<!-- Script -->
{% include 'includes/footer.html' %}