{% include 'includes/header.html' %}
{% load static %}

<section class="header-title" style="background:url('{% static 'img/aboutusimage.jpg' %}')">
    <div class="container-fluid aboutus-header-title">
        <div class="container">
              <h4 class="text-white">Upcoming Project</h4>
        </div>


    </div>
</section>


<section class=" ongoing-project-section pt-5 pb-5">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                 <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>

                  <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>

                   <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                   <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                   <div class="col-12 col-md-3 p-2">
                    <div class="card" style="100%">
                        <img src="{%static 'img/demo.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>

</section>






<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->


<!-- Script -->
{% include 'includes/footer.html' %}